.header {
  align-items: center;
  background: var(--primaryColor);
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.link {
  color: white;
  display: inline-block;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  outline: none;
  transition: 0.3s all ease;
  text-decoration: none;
}

.link:hover {
  background: var(--darkenPrimaryColor);
}
